---
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import KeyVisual from '../components/top/KeyVisual.astro'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <KeyVisual />
  <main>
    <!-- TODO: 独自にコンテンツを作成して見てください！ -->
  </main>
</Layout>
